


<html amp>
  <head>
    <meta charset="utf-8" />
    <meta name="locale" content="ja_JP">
    <meta name="url" content="https://yamadagenki.github.io/xushengbo/">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <title>Xu Shengbo | <%= current_article.nil? ? '徐 聖博' : current_article.title  %></title>
    <meta name="description" content="徐聖博(@yamadagenki0607)の個人サイトです。プロダーツプレイヤー(ターゲットスポーツ所属)やってます。よろしくお願いします。">
    <meta name="keywords" content="徐聖博, yamadagenki0607, ダーツプロ, ターゲットスポーツ, 株式会社メドレー">
    <%= favicon_tag 'https://yamadagenki.github.io/xushengbo/images/favicon.png' %>
    <meta property="og:image" content="https://yamadagenki.github.io/xushengbo/images/ogimage.png">
    <meta property="og:url" content="https://yamadagenki.github.io/xushengbo/">
    <meta property="og:title" content="Xu Shengbo | 徐  聖博">
    <meta property="og:description" content="徐聖博(@yamadagenki0607)の個人サイトです。プロダーツプレイヤー(ターゲットスポーツ所属)やってます。よろしくお願いします。">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@yamadagenki0607">
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                             })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-92921020-1', 'auto');
    ga('send', 'pageview');
    </script>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>
  <body>
    <%= partial 'layouts/header' %>
    <%= yield %>
    <%= partial 'layouts/footer' %>
  </body>
</html>
