<section class="l-content l-list" id="career">
  <h2 class="l-list__title ml10">
    Career
  </h2>
  <div class="l-box_items">
    <% link_to 'https://indeed.recruit-jinji.jp/', class: "l-box_items__item hvr-underline-reveal", target: "_blank" do %>
      <%= image_tag 'index/indeed.png', class: 'l-box_items__item__image' %>
      <div class="l-box_items__item__title">
        Indeed Tokyo(2018 - )
      </div>
    <% end %>
    <% link_to 'https://countir.jp/', class: "l-box_items__item hvr-underline-reveal", target: "_blank" do %>
      <%= image_tag 'index/countir.png', class: 'l-box_items__item__image' %>
      <div class="l-box_items__item__title">
        Countir Inc,(2018 - 2018)
      </div>
    <% end %>
    <% link_to 'http://l-style.info/', class: "l-box_items__item hvr-underline-reveal", target: "_blank" do %>
      <%= image_tag 'index/lstyle.png', class: 'l-box_items__item__image' %>
      <div class="l-box_items__item__title">
        L-style(2017 - )
      </div>
    <% end %>
    <% link_to 'http://www.medley.jp/', class: "l-box_items__item hvr-underline-reveal", target: "_blank" do %>
      <%= image_tag 'index/medley.png', class: 'l-box_items__item__image' %>
      <div class="l-box_items__item__title">
        株式会社メドレー(2015 - 2017)
      </div>
    <% end %>
    <% link_to 'http://www.target-darts.jp/shopdetail/000000000022/ct33/page1/recommend/', class: "l-box_items__item hvr-underline-reveal", target: "_blank" do %>
      <%= image_tag 'index/target.png', class: 'l-box_items__item__image' %>
      <div class="l-box_items__item__title">
        ターゲットスポーツ(2014 - )
      </div>
    <% end %>
    <% link_to 'http://corp.gree.net/jp/ja/', class: "l-box_items__item hvr-underline-reveal", target: "_blank" do %>
      <%= image_tag 'index/gree.png', class: 'l-box_items__item__image' %>
      <div class="l-box_items__item__title">
        グリー株式会社(2014 - 2015)
      </div>
    <% end %>
    <% link_to 'http://www.honiden.nii.ac.jp/', class: "l-box_items__item hvr-underline-reveal", target: "_blank" do %>
      <%= image_tag 'index/computer.png', class: 'l-box_items__item__image' %>
      <div class="l-box_items__item__title">
        東京大学情報理工学系研究科<br/>
        コンピュータ科学専攻(2013 - 2014)
      </div>
    <% end %>
    <% link_to 'http://www.honiden.nii.ac.jp/', class: "l-box_items__item hvr-underline-reveal", target: "_blank" do %>
      <%= image_tag 'index/honiden.png', class: 'l-box_items__item__image' %>
      <div class="l-box_items__item__title">
        本位田研究室(2012 - 2014)
      </div>
    <% end %>
    <% link_to 'http://www.u-tokyo.ac.jp/index_j.html', class: "l-box_items__item hvr-underline-reveal", target: "_blank" do %>
      <%= image_tag 'index/todai.png', class: 'l-box_items__item__image' %>
      <div class="l-box_items__item__title">
        東京大学理学部(2008 - 2012)
      </div>
    <% end %>
    <% link_to 'https://kaiseigakuen.jp/', class: "l-box_items__item hvr-underline-reveal", target: "_blank" do %>
      <%= image_tag 'index/kaisei.png', class: 'l-box_items__item__image' %>
      <div class="l-box_items__item__title">
        開成高校(2004 - 2007)
      </div>
    <% end %>
  </div>
</section>
