<%= partial "views/career" %>

<section class="l-content l-list">
  <h2 class="l-list__title ml10">
    Blogs
  </h2>
  <div class="l-list_items">
    <ul>
      <% page_articles.each_with_index do |article, i| %>
        <li class="l-list_items__item"><%= link_to "#{article.title}(#{article.date.strftime('%Y/%m/%d')})", article, class: 'hvr-underline-reveal' %></li>
      <% end %>
    </ul>
  </div>
</section>

<%= partial "views/publication" %>

<%= partial "views/article" %>

<%= partial "views/activity" %>
